In [15]:
#Imports
import scipy
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import re
import os

In [74]:
"""Specify files extension identifiers and parse current directory for csv full paths"""
#File strings [EDITABLE]
layers_ext = "layer"
spt_ext = "spt"
explor_ext = "explor"

#build paths
dir_path = os.getcwd()
file_paths = []
for f in os.listdir(dir_path):
    if f.endswith(".csv"):
        file_paths.append(os.path.join(dir_path, f))

#parse paths
spt_path = [s for s in file_paths if spt_ext in s][0]
lyr_path = [s for s in file_paths if layers_ext in s][0]
explor_path = [s for s in file_paths if explor_ext in s][0]

print("Exploration CSV path:\n{}\n".format(explor_path))
print("SPT N-Value CSV path:\n{}\n".format(spt_path))
print("Geological Layers CSV path:\n{}\n".format(lyr_path))

Exploration CSV path:
D:\D--Temp\Porter\test_explor.csv

SPT N-Value CSV path:
D:\D--Temp\Porter\test_spt.csv

Geological Layers CSV path:
D:\D--Temp\Porter\test_layers.csv

In [75]:
#Read input csv
df = pd.read_csv(spt_path)
df

    OBJECT_ID  EXPLOR_ID  DEPTH  N_VAL  CORR_N
0           1          1      0     12     NaN
1           2          1      1     10     NaN
2           3          1      4     26     NaN
3           4          1      7     55     NaN
4           5          1      8     45     NaN
5           6          1     11     60     NaN
6           7          1     13     51     NaN
7           8          2      0      8     NaN
8           9          2      2     30     NaN
9          10          2      5     45     NaN
10         11          2     10     52     NaN